@import "../../../../styles/variables.scss";

.success-page {
    width: 650px;
    height: 500px;
    box-shadow: 0 0 35px -16px rgba(0,0,0, 0.3);
    margin: 0 auto;
    padding: 64px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .img-illustration {
        height: 250px;
    }

    .link {
        text-decoration: underline;
        color: $c-primary-light;
        margin-top: 14px;
        cursor: pointer;
    }

    @include phone { 
        padding: 24px;
        width: calc(100% -  24px*2);
        height: 70vh;
        box-shadow: none;
    }
}