@import "../../../../styles/variables.scss";

#admin-dashboard {
    width: 100%;
    position: relative;

    .header-wp {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 24px;
    }
    .pagination-wp {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 24px;
        padding-top: 24px;
    }
}
