@import "../../../../styles/variables.scss";

.header-wp-usecase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    width: calc(100% -  32px*2);

    .logo-wp {
        display: flex;
        align-items: center;

        .title {
            font-size: 18px;
            font-family: $amoebaReg;
            margin-left: 14px;
        }
    }

    .account-wp {
        display: flex;
        align-items: center;

        .img-wp {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            margin-right: 14px;

            .img-account {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .title-account {
            font-family: $amoebaLight;
            font-size: 14px;
        }
    }

    @include phone { 
        border-bottom: 2px solid #e3e3e3;
        padding: 14px;
        width: calc(100% -  14px*2);
        .logo-wp {
            img {
                height: 30px !important;
            }
            .title {
                font-size: 12px;
                margin-left: 8px;
            }
        }

        .account-wp {
            .img-account {
                height: 30px;
                width: 30px;
                margin-right: 8px;
            }
            .title-account {
                font-size: 10px;
            }
        }
    }
}