@import "../../../../styles/variables.scss";

#admin-dashboard {
    width: 100%;
    position: relative;

    .header-wp {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 24px;

        .btn-add {
            background-color: #B10606;
            height: 48px;
            color: #fff;
        }
    }
}
