.cancle-button{
    margin-right: 10px;
    // font-weight: bold;
    color: #B90000;
    cursor: pointer;
}

.submit-button{
    // font-weight: bold;
    background-color: #003BA1;
    color: white;
    cursor: pointer;
}