@import "../../../../styles/variables.scss";

#usecase-dashboard {
    width: 100%;
    position: relative;

    .header-wp {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 24px;

        .btn-add {
            background-color: #B10606;
            height: 48px;
            color: #fff;
        }
    }

    .pagination-wp {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 24px;
    }
    .draft {
        background-color: #FCF2F9;
        padding: 4px 8px;
        border-radius: 8px;
        text-align: center;
        color: #B71985;
    }
    .done {
        background-color: #BDFABB;
        padding: 4px 8px;
        border-radius: 8px;
        text-align: center;
        color: #00632E;
    }
}
