@import "../../styles/variables.scss";

body {
  width: 100%;
  margin: 0;
}

.app {
  // background-color: $c-grey-7;
  overflow: hidden;
  // max-width: 1300px;
  padding: 32px;
}

.header-wrapper {
  width: calc(100% - 24px*2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(224, 224, 224);
  padding: 14px 24px;

  .logo {
    height: 54px;
  }

  .menu-wrapper {
    display: flex;
    align-items: center;
  
    .menu-title {
      font-size: 16px;
      color: $f-black;
      font-family: $amoebaReg;
      padding: 8px 16px;

      &.btn-menu {
        padding: 12px 16px;
        background-color: $c-primary-light;
        border-radius: 8px;
        color: #fff;
        margin-left: 16px;
      }
    }
  }

  .menu-mobile {
    display: none;
  }

  @include phone {
    .logo {
      display: none;
    }

    .menu-wrapper {
      display: none;
    }

    .menu-mobile {
      display: block;
    }
  }
}

.section-hero {
  display: flex;
  min-height: calc(100vh - 84px - 24px*2);

  .section-left {
    width: calc(50% - 12px*2);
    padding: 12px;
    background-image: url('../../assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 8px;

    .title-hero { 
      font-size: 48px;
      color: #fff;
      font-family: $amoebaReg;
      letter-spacing: 5px;
      line-height: 72px;
      width: 80%;
      margin-top: 120px;
      margin-left: 32px;
    }

    .title-hero-mobile {
      color: #fff;
      font-family: $amoebaReg;
      font-size: 24px;
      width: 100%;
      letter-spacing: 1px;
      line-height: 28px;
      margin-top: 0;
      padding-bottom: 150px;
      margin-left: 0;
      text-align: center;
      padding-top: 14px;
      display: none;
    }

    .illustration {
      position: absolute;
      bottom: -34px;
      right: 14px;
      height: 350px;
    }
  }

  .section-right {
    width: calc(50% - 12px*2);
    padding: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-wrapper {
      width: 420px;
      padding: 24px 24px;
      background-color: #f7f7fb;
      border-radius: 8px;

      .logo-mobile {
        height: 60px;
        padding-bottom: 24px;
        margin: 0 auto;
        display: none;
      }

      .title-form {
        font-size: 24px;
        font-family: $amoebaBold;
        text-align: center;
        margin-bottom: 14px;
      }

      .subtitle-form {
        font-size: 14px;
        font-family: $amoebaReg;
        text-align: center;
        margin-bottom: 24px;
        color: $f-grey;

        span {
          color: $c-primary;
          font-family: $amoebaBold;
          cursor: pointer;
        }
      }

      .forgot {
        font-size: 14px;
        font-family: $amoebaReg;
        text-align: right;
        margin-bottom: 24px;
        color: $c-primary;
        margin-top: -20px;
      }
    }
  }

  @include phone {
    flex-direction: column;

    .section-left, .section-right {
      width: calc(100% - 12px*2);
    }

    .section-left {
      min-height: 260px;

      .title-hero {
        display: none;
      }

      .title-hero-mobile {
        display: block;
      }
      .illustration {
        bottom: -20px;
        height: 220px;
        left: 18%;
      }
    }

    .section-right {
      padding: 0;
      width: 100%;
      margin-top: -24px;
      z-index: 3;
    }

    .form-wrapper {
      width: 100%;
    }

    .logo-mobile {
      display: block !important;
    }

    .title-form {
      display: none;
    }

    .m-hide {
      display: none;
    }
  }
}

.section-1 {
  margin-top: 100px;
  display: flex;
  align-items: center;
  .section-left {
    width: 50%;

    .title {
      font-size: 48px;
      font-family: $amoebaBold;
      color: $f-black;
      margin-bottom: 24px;
    }

    .subtitle {
      font-size: 16px;
      font-family: $amoebaReg;
      color: $f-grey;
      line-height: 24px;
      letter-spacing: 1px;
    }
  }
  .section-right {
    width: 50%;
    height: 500px;
    position: relative;

    .mockup {
      position: absolute;
      height: 500px;
      bottom: 0;
      right: -32px;
    }

    .chat {
      position: absolute;
      height: 50px;
      top: 200px;
      left: 132px;
    }
  }

  @include phone {
    flex-direction: column-reverse;
    margin-top: 0;

    .section-left {
      width: 100%;
      margin-top: 50px;

      .title {
        font-size: 24px;
      }

      .subtitle {
        line-height: 20px;
        font-size: 14px;
        letter-spacing: 0;
      }
    }

    .section-right {
      width: 100%;
      height: 320px;

      .mockup {
        height: 320px;
      }

      .chat {
        left: 0;
        height: 34px;
        top: 150px;
      }
    }
  }
}

.section-2 {
  margin-top: 100px;
  display: flex;
  align-items: center;
  .section-left {
    width: 50%;
    height: 500px;
    position: relative;

    .mockup {
      position: absolute;
      height: 600px;
      bottom: -81px;
      left: -32px;
    }

    .chat {
      position: absolute;
      height: 250px;
      top: 100px;
      right: -24px;
    }
  }
  .section-right {
    width: 50%;
    padding-left: 180px;

    .title {
      font-size: 48px;
      font-family: $amoebaBold;
      color: $f-black;
      margin-bottom: 24px;
    }

    .text-wp {
      display: flex;
      align-items: center;
      margin-top: 14px;

      .subtitle {
        font-size: 16px;
        font-family: $amoebaReg;
        color: $f-grey;
        line-height: 24px;
        letter-spacing: 1px;
        margin-left: 14px;
      }
    }
  }

  @include phone {
    flex-direction: column;
    margin-top: 0;

    .section-left {
      width: 100%;
      height: 330px;

      .mockup {
        height: 330px;
        bottom: -44px;
      }
  
      .chat {
        height: 150px;
        right: 0;
      }
    }

    .section-right {
      width: 100%;
      padding-left: 0;
      margin-top: 50px;

      .title {
        font-size: 24px;
      }

      .text-wp {
        img {
          height: 24px;
        }

        .subtitle {
          font-size: 14px;
          letter-spacing: 0;
        }
      }
    }
  }
}

.section-3 {
  width: 100%;
  min-height: 1200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .section-left {
    width: calc(50% - 72px*2);
    padding: 72px;

    .container-wrapper {
      display: flex;
      align-items: center;
      padding: 24px;
      border-radius: 8px;
      border: 2px solid #b2b2b2;
      margin-top: 24px;
      justify-content: space-between;
      cursor: pointer;

      &.active {
        background-color: #fff;
        box-shadow: 0 22px 35px -16px rgba(0,0,0, 0.1);
        border: none;
      }

      .number {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: $c-primary-light;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .content-wrapper {
        margin-left: 14px;
        width: 90%;

        .title-content {
          font-size: 24px;
          font-family: $amoebaBold;
          color: $f-black;
          margin-bottom: 14px;
        }
  
        .subtitle {
          font-size: 16px;
          font-family: $amoebaReg;
          color: $f-grey;
        }
      }
    }
  }

  .section-right {
    width: 50%;
    border: 2px solid #b2b2b2;
    border-radius: 8px;
    margin-top: 24px;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img {
    position: absolute;
    top: 0;
    width: calc(100% + 32px*2);
    z-index: -1;
    left: -32px;
  }

  .title {
    font-size: 48px;
    font-family: $amoebaBold;
    color: $f-black;
    margin-bottom: 24px;
    margin-top: -100px;
  }

  .slider-mobile {
    display: none;
    position: relative;

    .arrow-next {
      width: 50px;
      height: 50px;
      background-color: #fff;
      box-shadow: 6px 3px 20px rgba(0, 0, 0, 0.2);
      position: absolute;
      right: -20px;
      top: 100px;
      z-index: 9;
      border: none;
      font-size: 18px;
      border-radius: 50%;
    }

    .slider-wrapper {

      .img-wp {
        width: auto;
        padding: 24px;
        border: 2px solid $f-black;
        border-radius: 8px;
      }
      .content-wrapper {
        margin-top: 24px;

        .title-content {
          font-size: 18px;
          font-family: $amoebaBold;
          color: $f-black;
          margin-bottom: 14px;
          margin-top: 48px;
          text-align: center;
        }
        .subtitle {
          font-size: 14px;
          font-family: $amoebaReg;
          color: $f-grey;
          margin-bottom: 24px;
          text-align: center;
        }
      }
    }
  }

  @include phone {
    display: block;
    min-height: auto;

    .m-hide {
      display: none !important;
    }

    .slider-mobile {
      display: block;
    }

    .title {
      margin-top: 150px;
      font-size: 24px;
    }

    .img {
      height: 950px;
      top: -150px
    }
  }
}

.section-4 {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .section-left {
    width: calc(50% - 72px*2);
    padding: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .quote-accent {
      width: 84px;
      height: 84px;
      border-radius: 50%;
      background-color: $c-primary-light;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title {
      font-size: 48px;
      font-family: $amoebaBold;
      color: $f-black;
      margin-bottom: 14px;
      margin-top: 48px;
    }
    .subtitle {
      font-size: 16px;
      font-family: $amoebaReg;
      color: $f-grey;
      margin-bottom: 24px;
    }
  }

  .section-right {
    width: 50%;

    .form-wrapper {
      width: calc(100% - 24px*2);
      padding: 24px 24px;
      background-color: #f7f7fb;
      border-radius: 8px;

      .title-form {
        font-size: 24px;
        font-family: $amoebaBold;
        margin-bottom: 14px;
      }

      .subtitle-form {
        font-size: 14px;
        font-family: $amoebaReg;
        margin-bottom: 24px;
        color: $f-grey;
      }

      .btn-submit {
        height: 48px;
        padding: 0 32px;
        display: block;
        margin-left: auto;
        background-color: #fff;
        border: 2px solid $c-primary;
        color: $c-primary;
      }
    }
  }

  @include phone {
    display: none;
  }

}

.section-footer {
  width: 100%;
  background-color: #98BDFF;
  margin-top: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;

  .section-left {
    width: 50%;
    position: relative;
    height: 400px;
    z-index: 3;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 250px;
      height: 275px;
      background-image: url('../../assets/images/accent-footer-2.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1;
      bottom: -50px;
      left: 0;
    }

    .img {
      height: 420px;
      position: absolute;
      bottom: -40px;
      z-index: 3;
    }
  }

  .section-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 150px;
    z-index: 3;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 400px;
      height: 200px;
      background-image: url('../../assets/images/accent-footer.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1;
      top: -120px;
      right: 0;
    }

    .content-wp {
      width: 500px;
      z-index: 3;
    }

    .btn-footer {
      height: 48px; 
      width: 500px; 
      background-color: #003BA1;
      border-radius: 16px;
    }

    .title {
      font-size: 32px;
      font-family: $amoebaBold;
      color: $f-black;
      margin-bottom: 24px;
      text-align: center;
    }

    .subtitle {
      font-size: 16px;
      font-family: $amoebaReg;
      color: $f-black;
      margin-bottom: 24px;
      text-align: center;text-align: center;
    }
  }

  @include phone {
    margin-top: 0;
    flex-direction: column;
    background-color: #f6f7fa;

    .section-left {
      display: none;
    }

    .section-right {
      width: 100%;
      padding-right: 0;
      padding: 50px 0;

      .title {
        font-size: 24px;
      }

      .subtitle {
        font-size: 14px;
        margin-bottom: 0;
      }

      .content-wp {
        padding: 24px;
        width: auto;
      }

      .btn-footer {
        width: 90%;
      }

      &::after {
        display: none;
      }
    }
  }
}
